<!-- Generated template for the MusicComponent component -->

<ion-row>
              
    <ion-col col-sm-11 col-md-11 col-xs-11>
        <button class=" item-block item-md" ion-item >
            <ion-avatar item-start>
                  <img src={{music.image}}>
            </ion-avatar>
            <h3>{{music.titre}}</h3>
              <h4>{{music.artiste}}</h4>
              <p>{{music.album}}</p>
        </button>
    </ion-col>
        <button ion-button color="danger"  large  clear icon-only >
            <ion-icon name='trash' is-active="false"></ion-icon>
        </button>
   
  </ion-row>