page-home {

    h2 {
        width: 100%;
        text-align:center;
    }
    .media {
        width: 100%;
        text-align:center;
    }

    .icone{

        width : 10px;
        height : 10px;
    }


    

}
