<ion-header>
  <ion-navbar>
    <ion-title>{{test}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Salut {{user}} </h1>
  <ion-grid>
    <ion-row>
      <ion-col class="media"  >

        <button ion-button (click)="navigate('Search')" round id="ajouterMusique">Ajouter une musique</button>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-scroll class="scroll" scrollY="true">
    <ion-list  class="media no-padding" *ngFor="let obj of music; let i = index" padding="false">

        <music [music]="obj"><button>
          <ion-icon name="trash"></ion-icon>
        </button></music>

      </ion-list>
  </ion-scroll>
  

    <ion-grid>
       
      <ion-row>
          <!-- <ion-col *ngIf="list" col-sm-11 col-md-11 col-xs-11>
              <button class=" item-block item-md" ion-item >
                  <ion-avatar item-start>
                        <img src="{{music.image}}">
                  </ion-avatar>
                  <h3>{{music.titre}}</h3>
                    <p>{{music.artiste}} {{music.album}}</p>
              </button>
          </ion-col> -->
        <ion-col class="media">
            <button ion-button color="dark" icon-only clear  medium >
                <ion-icon name="skip-backward" is-active="false"></ion-icon>
            </button>
            <button ion-button icon-only color="dark" clear medium  icon-only>
                <ion-icon name="play" is-active="false"></ion-icon>
            </button>

            <button ion-button icon-only color="dark" clear medium  icon-only>
              <ion-icon name="skip-forward" is-active="false"></ion-icon>
          </button>
            

            
        <!-- <input type="image" src="../../assets/imgs/previous.png" width="50" height="40" padding-right="10" /> -->
        <!--<input type="image" src="../../assets/imgs/play.png" width="50" height="40" padding-right="10" />
        <input type="image" src="../../assets/imgs/next.png" width="50" height="40" padding-right="10" /> -->
        
      </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>
