page-home {
    label
    {
        color: map-get($colors, primary);
        
    }

    h2 {
        width: 100%;
        text-align:center;
    }
    .media {
        width: 100%;
        text-align:center;
    }

    .icone{

        width : 20px;
        height : 20px;
    }

    .pochette{

        width : 40px;
        height : 40px;
    }


    

}
